@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  src: url(./fonts/helvetica_regular.otf);
}

@font-face {
  font-family: "Random Grotesque Standard Semibold";
  font-style: normal;
  src: url(./fonts/random-grotesque.standard-semibold.ttf);
}
@font-face {
  font-family: "Random Grotesque Standard Medium";
  font-style: normal;
  src: url(./fonts/random-grotesque.standard-medium.ttf);
}

.App {
  text-align: center;
}
h1 {
  margin: 0;
}
